body{
    background-image: url(/img/blackwall.jpeg);

}

/* Bordered form */

form {
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    border-radius: 40px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
  }

  #logtext{
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  #checky{
position: relative;
   size: 110%;

  }
  
  /* Set a style for all buttons */
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    font-family: 'Roboto', sans-serif;
  }
  
  b{
    color: white;
  }

  label { 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    color: rgb(129, 129, 129);
   
  }
  
  /* Avatar image */
  img.avatar {
    height: 10%;
    width: 10%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 10px;
    border-radius: 40px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }