.h1-modal1{  /* h1colection */
  font-family: sans-serif;
  font-size: 150%;
  color: black;
  text-align: center;
  margin-top: 40px;
}

.modal1 {  /* colection1M */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.section-modal1{  /* headercolection1M */
  background-color: rgb(31, 31, 31);
  color: white;
  position: top;
  font-size: 110%;
  height: 5rem;
  font-family: sans-serif;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-modal2{  /* headercolection1M1-2 */
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 110%;
  margin-bottom: 20px;
  height: 100px;
  font-family: sans-serif;
}

.h3-modal1{  /* h3colectionM */
  font-family: sans-serif;
}

.p-modal1{  /* pcolection1M */
  color: black;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.modal1-content{  /* colection1MC */
  background-color: snow;
  margin: auto;
  padding-bottom: 1rem;
  border: 1px solid #888;
  width: 50%;
  border: black solid;
  border-radius: 1.5rem;
}

.modal1-close {  /* colection1closeM */
  color: rgb(53, 225, 255);
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  padding: 7px;
}

.modal1-close:hover,
.modal1-close:focus {  /* colection1closeM */
color: rgb(0, 247, 255);
text-decoration: none;
cursor: pointer;
}

