*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    height: 9rem;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img{
    width: 9rem;
    height: 9rem;
}

main{
    margin: 6rem;
}

video{
    width: auto;
    height: 35rem;
}

.video-card{
    margin-top: 12rem;
    display: flex;
    width: 100%;
    height: 35rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: black;
    justify-content: center;
    align-items: center;
}

.article-card1{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24rem;
}

.card1{
    margin-top: 6rem;
    display: flex;
    width: 22%;
    height: 35rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.90);
    justify-content: center;
    align-items: center;
}

.card1 > img{
    height: 30rem;
    width: 30rem;
    border-radius: 1.5rem;
}

.card1 > a > img{
    height: 30rem;
    width: 30rem;
    border-radius: 1.5rem;
}

.text1{
    font-size: 2rem;
}

.card2{
    margin-top: 12rem;
    display: flex;
    width: 100%;
    height: 35rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.90);
    justify-content: center;
    align-items: center;
}

.article-card3{
    margin-top: 12rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
}

.card3{
    display: flex;
    width: 22%;
    height: 35rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.90);
    justify-content: center;
    align-items: center;
}

.card3 >img{
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.article-card4{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.card4{
  display: flex;
  width: 30%;
  height: 30rem;
  background: white;
  border-radius: 2rem;
  box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
  background: rgba(0, 0, 0, 0.90);
  justify-content: center;
  align-items: center;
}

.article-card5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }

.card5{
    display: flex;
    width: 20%;
    height: 30rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.90);
    justify-content: center;
    align-items: center;
}

.footer{
    height: 15rem;
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.footerNavigation{
    list-style-type: none;
}

.footerNavigationItem{
    font-size: 100%;
    font-style: Arial;
    margin-top: 1rem;
}

.footerNavigationItem > a{
    color: white;
    font-size: 180%;
    width: 100px;
   
}

.footer > address{
    font-size:180%;
    font-family: sans-serif;
    margin-top: -12rem;
}

.contheader{
    background-color: black;
    height: 8rem;
}

